@charset "UTF-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  border: 0;
}

select:focus,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
}

/*RESET CLOSE*/
.debug {
  border: 1px solid red;
}

body {
  color: #707070;
  font-size: 15px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
}

.margin_auto {
  margin: auto;
}

.container_1340 {
  width: 1340px;
  height: 100%;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.btn_rectangle {
  height: 55px;
  padding: 14px 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.btn_nav_black {
  background-color: black;
  padding: 11px 23px;
  text-transform: uppercase;
}

h3.sub {
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 6px;
  font-stretch: 100%;
}

.orizontal_flex {
  display: flex;
  justify-content: space-between;
}

.margin_bottom_40 {
  margin-bottom: 40px;
}

h2.title_hero_article {
  font-size: 40px;
  line-height: 58px;
}

.cl_65 {
  width: 65%;
}

.cl_35 {
  width: 35%;
}

a.btn_XXS {
  display: block;
  cursor: pointer;
  padding: 70px;
  background-color: #191919;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1px;
}
a.btn_XXS i {
  margin-left: 5px;
}

.title_items {
  font-size: 18px;
  line-height: 28.7px;
  font-weight: 700;
  padding: 10px 10px 10px 0px;
  text-transform: uppercase;
  color: #191919;
}

header {
  width: 100%;
  height: 97px;
  padding: 0 30px;
  background-color: #26a9bd;
}
header::after {
  content: "";
  clear: both;
  display: table;
}
header #header_left, header #header_right {
  display: inline-block;
}
header #header_logo a {
  line-height: 97px;
  display: block;
}
header #header_logo img#logo {
  vertical-align: middle;
  max-height: 61px;
  height: auto;
}
header ul#items_main_menu > li {
  display: inline-block;
  list-style: none;
  line-height: 97px;
}
header ul#items_main_menu > li > a {
  vertical-align: middle;
  transform: translateY(-50%);
  padding-right: 50px;
  text-decoration: none;
  color: white;
}
header ul#items_main_menu > li > a.btn_nav_black {
  padding: 11px 23px;
  margin-right: 50px;
}

div#jumbotron {
  height: 840px;
  color: white;
  background-image: url("../img/home_slider_bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
div#jumbotron div#wrapper_text_jumbotron {
  height: 840px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
div#jumbotron h1 {
  font-size: 150px;
  line-height: 180px;
  margin-bottom: 14px;
}
div#jumbotron p {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 1px;
}
div#jumbotron button.btn_rectangle {
  margin-top: 55px;
  background-color: #26a9bd;
  color: white;
}
div#jumbotron button.btn_rectangle i.fa-angle-right {
  margin-left: 10px;
}

a.title_preview_link {
  display: block;
  text-decoration: none;
  color: #191919;
  margin-top: 15px;
  margin-bottom: 6px;
}

.meta {
  display: block;
  font-size: 13px;
  margin-bottom: 13px;
  line-height: 19.5px;
}
.meta a.count_comment {
  margin-left: 8px;
  padding: 0 8px;
  border-left: 1px solid #707070;
}

.box_preview_article {
  margin-top: 70px;
  text-align: left !important;
}
.box_preview_article img.img_news {
  width: 396px;
}
.box_preview_article p {
  line-height: 30px;
  display: block;
}

section#description_site {
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 29%;
}
section#description_site h3.sub {
  color: #525252;
}
section#description_site p {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
  color: #707070;
  font-stretch: 100%;
}

section#news {
  text-align: center;
  padding-top: 120px;
  padding-right: 30px;
  padding-left: 30px;
}
section#news h3.sub {
  color: #525252;
  margin-bottom: 20px;
}
section#news h2 {
  font-size: 48px;
  font-weight: 700;
  color: black;
}

section#featured #hero_featured {
  max-width: 1289.6px;
  height: 612px;
  padding: 20% 8%;
  padding-bottom: 8%;
  background-size: cover;
  color: white;
  background-image: url("../img/featured_article_1_bg.jpg");
}

section#reviewed::after {
  content: "";
  clear: both;
  display: table;
}
section#reviewed #reviewed_product {
  background-size: cover;
  color: white;
  padding: 8%;
  background-image: url("../img/featured_article_2_bg.jpg");
  margin-right: 50px;
  margin-bottom: 12%;
}
section#reviewed aside#tutorial {
  height: 452px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#reviewed aside#tutorial.cl_35 {
  width: calc( 35% - 50px);
}
section#reviewed aside#tutorial.cl_35 img {
  height: 117px;
  margin-right: 20px;
}
section#reviewed .description_tutorial {
  display: flex;
  align-content: space-between;
}

#footer_top {
  display: flex;
  padding: 80px 0;
}
#footer_top > * {
  width: calc(100% / 4);
}
#footer_top div#description_footer > p {
  line-height: 29.95px;
}
#footer_top > ul {
  padding: 0 15px;
}
#footer_top > ul > li {
  list-style: none;
  padding: 10px 10px 10px 12px;
  border-bottom: 1px solid #eaeaea;
}
#footer_top > ul > li.title_items {
  border: none;
}
#footer_top > ul > li > a {
  text-decoration: none;
  color: #707070;
  font-size: 15px;
}
#footer_top > ul > li > a::before {
  margin-right: 5px;
  font-size: 13px;
  line-height: 28.95px;
  vertical-align: middle;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "";
}
