@charset "UTF-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  border: 0;
}

select:focus,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
}

/*RESET CLOSE*/
.debug {
  border: 1px solid red;
}

body {
  color: #707070;
  font-size: 15px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
}

.margin_auto {
  margin: auto;
}

.container_1340 {
  width: 1340px;
  height: 100%;
}

.scale {
  transform: scale(1.12);
  transition: opacity 1s, transform 1s;
}
.scale:hover {
  transform: scale(1);
  transition: opacity 1s, transform 1s;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.btn_rectangle {
  height: 55px;
  padding: 14px 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.btn_rectangle:hover {
  background-color: #FF8D61 !important;
  color: white !important;
}

.btn_nav_black {
  background-color: black;
  padding: 11px 23px;
  text-transform: uppercase;
}

h3.sub {
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 6px;
  font-stretch: 100%;
  margin-bottom: 20px;
}

#reviewed_product h3.sub, #reviewed_product h3.sub {
  margin-bottom: 0;
}

.orizontal_flex {
  display: flex;
  justify-content: space-between;
}

.margin_bottom_40 {
  margin-bottom: 40px;
}

h2.title_hero_article {
  font-size: 40px;
  line-height: 58px;
}

.cl_65 {
  width: 65%;
}

.cl_35 {
  width: 35%;
}

a.btn_XXS {
  display: block;
  cursor: pointer;
  padding: 70px;
  background-color: #191919;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1px;
}
a.btn_XXS:hover {
  background-color: #25a9bd;
}
a.btn_XXS i {
  margin-left: 5px;
}

.title_items {
  font-size: 18px;
  line-height: 28.7px;
  font-weight: 700;
  padding: 10px 10px 10px 0px;
  text-transform: uppercase;
  color: #191919;
}

.fusion-arrow-svg {
  position: absolute;
  opacity: 0.98;
  top: 55px;
  left: 25%;
  transform: translateX(-50%);
  display: none;
}
.fusion-arrow-svg.active {
  display: block !important;
}

.orange_line {
  display: block;
  width: 90px;
  height: 3px;
  margin: 30px 0;
  background-color: #FF8D61;
}

h2.title_big_section {
  font-size: 48px;
  font-weight: 700;
  color: black;
}
h2.title_big_section + .orange_line {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.dropdown_items {
  position: absolute;
  top: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 97px;
  padding: 0 30px;
  background-color: rgba(38, 169, 189, 0.98);
}
header::after {
  content: "";
  clear: both;
  display: table;
}
header #header_left, header #header_right {
  display: inline-block;
}
header #header_logo a {
  line-height: 97px;
  display: block;
}
header #header_logo img#logo {
  vertical-align: middle;
  height: 61px;
  width: 251px;
}
header ul#items_main_menu > li {
  position: relative;
  display: inline-block;
  list-style: none;
  line-height: 97px;
}
header ul#items_main_menu > li:hover .fusion-arrow-svg {
  display: block;
}
header ul#items_main_menu > li > a {
  vertical-align: middle;
  transform: translateY(-50%);
  padding-right: 50px;
  text-decoration: none;
  color: white;
}
header ul#items_main_menu > li > a.btn_nav_black {
  font-weight: 900;
  letter-spacing: 1px;
  padding: 11px 23px;
  margin-right: 50px;
}
header ul#items_main_menu > li > a.btn_nav_black:hover {
  background-color: #FF8D61;
}

div#jumbotron {
  height: 840px;
  margin-top: 97px;
  color: white;
  background-image: url("../img/home_slider_bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
div#jumbotron div#wrapper_text_jumbotron {
  height: 840px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
div#jumbotron h1 {
  font-size: 150px;
  line-height: 180px;
  margin-bottom: 14px;
}
div#jumbotron p {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 1px;
}
div#jumbotron button.btn_rectangle {
  margin-top: 55px;
  background-color: #26a9bd;
  color: white;
}
div#jumbotron button.btn_rectangle i.fa-angle-right {
  margin-left: 10px;
}

a.title_preview_link {
  display: block;
  text-decoration: none;
  color: #191919;
  margin-top: 15px;
  margin-bottom: 6px;
}

.meta {
  display: block;
  font-size: 13px;
  margin-bottom: 13px;
  line-height: 19.5px;
}
.meta a.count_comment {
  margin-left: 8px;
  padding: 0 8px;
  border-left: 1px solid #707070;
}

.box_preview_article {
  margin-top: 70px;
  text-align: left !important;
}
.box_preview_article > a {
  width: calc(393px - 10px);
  height: calc(250px - 10px);
  display: block;
  overflow: hidden;
}
.box_preview_article > a img.img_news {
  width: 393px;
  height: 250px;
}
.box_preview_article p {
  line-height: 30px;
  display: block;
}

section#description_site {
  background-color: #f2f2f2;
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 29%;
}
section#description_site h3.sub {
  color: #525252;
}
section#description_site p {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
  color: #707070;
  font-stretch: 100%;
}

section#news {
  text-align: center;
  padding-top: 120px;
  padding-right: 30px;
  padding-left: 30px;
}
section#news h3.sub {
  color: #525252;
  margin-bottom: 20px;
}

section#featured #hero_featured {
  max-width: 1289.6px;
  height: 612px;
  padding: 20% 8%;
  padding-bottom: 8%;
  background-size: cover;
  color: white;
  background-image: url("../img/featured_article_1_bg.jpg");
}
section#featured #hero_featured p {
  line-height: 28.95px;
  margin-bottom: 35px;
}
section#featured #hero_featured .btn_rectangle {
  background-color: #191919;
  color: white;
}

section#reviewed::after {
  content: "";
  clear: both;
  display: table;
}
section#reviewed #reviewed_product {
  background-size: cover;
  color: white;
  padding: 8%;
  background-image: url("../img/featured_article_2_bg.jpg");
  margin-right: 50px;
  margin-bottom: 12%;
}
section#reviewed #reviewed_product p {
  line-height: 28.95px;
  margin-bottom: 35px;
}
section#reviewed #reviewed_product .btn_rectangle {
  background-color: #191919;
  color: white;
}
section#reviewed aside#tutorial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#reviewed aside#tutorial > h3 {
  font-size: 30px;
  line-height: 39.9px;
  color: #191919;
}
section#reviewed aside#tutorial.cl_35 {
  width: calc( 35% - 50px);
}
section#reviewed aside#tutorial.cl_35 .description_tutorial > a {
  margin-right: 20px;
  height: 117px;
  width: 195px;
  line-height: 120px;
  overflow: hidden;
  display: block;
}
section#reviewed aside#tutorial.cl_35 .description_tutorial > a img {
  height: 120px;
  width: 198px;
  vertical-align: middle;
}
section#reviewed .description_tutorial {
  display: flex;
  margin-top: 20px;
  align-content: space-between;
}

section#forum_section {
  text-align: center;
  padding-top: 120px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 120px;
  background-color: #f2f2f2;
}
section#forum_section .row {
  display: flex;
  justify-content: space-between;
  margin: 65px 0;
}
section#forum_section #container_sections_forum {
  margin-top: 100px;
}
section#forum_section #container_sections_forum .box_section_forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 250px;
  background-color: white;
  border-top: 4px solid #32b3c6;
}
section#forum_section #container_sections_forum .box_section_forum:hover h3 {
  color: #FF8D61;
}
section#forum_section #container_sections_forum .box_section_forum a {
  text-decoration: none;
}
section#forum_section #container_sections_forum .box_section_forum h3 {
  font-size: 23px;
  line-height: 28.6px;
  color: black;
}
section#forum_section #container_sections_forum .box_section_forum i {
  border-color: rgba(255, 255, 255, 0);
  background-color: #FF8D61;
  border-width: 0px;
  box-sizing: content-box;
  border-radius: 100%;
  color: #ffffff;
  margin-bottom: 15px;
  height: 84px;
  width: 84px;
  line-height: 84px;
  font-size: 42px;
}

section#go_to_forum {
  background-image: url("../img/join_now_cta_bg.jpg");
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 120px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 120px;
}
section#go_to_forum .wrapper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
section#go_to_forum .wrapper h2 {
  font-size: 60px;
  line-height: 72px;
  padding: 20px 0px;
}
section#go_to_forum .wrapper h2, section#go_to_forum .wrapper p {
  padding: 20px 0px;
}
section#go_to_forum .wrapper .btn_rectangle {
  background-color: #26a9bd;
  color: white;
  color: white;
  align-self: center;
}

div#news_letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 120px;
}
div#news_letter p {
  font-size: 30px;
  color: #191919;
  margin-bottom: 55px;
}

#news_letter_post .btn_rectangle {
  background-color: #191919;
  color: white;
}
#news_letter_post > input[type=text] {
  height: 54px;
  width: 500px;
  margin-right: 20px;
}
#news_letter_post > input[type=text]::-webkit-input-placeholder {
  padding-left: 12px;
}

#footer_top {
  display: flex;
  padding: 80px 0;
}
#footer_top > * {
  width: calc(100% / 4);
}
#footer_top div#description_footer > p {
  line-height: 29.95px;
}
#footer_top > ul {
  padding: 0 15px;
}
#footer_top > ul > li {
  list-style: none;
  padding: 10px 10px 10px 12px;
  border-bottom: 1px solid #eaeaea;
}
#footer_top > ul > li.title_items {
  border: none;
}
#footer_top > ul > li > a {
  text-decoration: none;
  color: #707070;
  font-size: 15px;
}
#footer_top > ul > li > a:hover {
  color: #26a9bd;
  -webkit-text-decoration-color: #26a9bd;
          text-decoration-color: #26a9bd;
}
#footer_top > ul > li > a::before {
  margin-right: 5px;
  font-size: 13px;
  line-height: 28.95px;
  vertical-align: middle;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "ï„…";
}

#footer_bottom {
  border-top: 1px solid #eaeaea;
  padding: 35px 0;
}
#footer_bottom .container_1340 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#footer_bottom ul#social {
  display: flex;
}
#footer_bottom ul#social > li {
  list-style: none;
  margin: 0 5px;
}
#footer_bottom ul#social > li > a {
  display: block;
  cursor: pointer;
}
#footer_bottom ul#social > li > a i {
  display: flex;
  justify-content: center;
  border-width: 0px;
  box-sizing: content-box;
  border-radius: 100%;
  color: #ffffff;
  margin-bottom: 15px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
}
