/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  border: 0;
}

select:focus,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
}

/*RESET CLOSE*/
.debug {
  border: 1px solid red;
}

body {
  color: #707070;
  font-size: 15px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
}

.margin_auto {
  margin: auto;
}

.container_1240 {
  width: 1240px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

header {
  width: 100%;
  padding: 0 30px;
  height: 97px;
  background-color: #26a9bd;
}
header::after {
  content: "";
  clear: both;
  display: table;
}
header #header_left, header #header_right {
  display: inline-block;
}
header #header_logo a {
  line-height: 97px;
  display: block;
}
header #header_logo img#logo {
  vertical-align: middle;
}
header ul#items_main_menu > li {
  display: inline-block;
  list-style: none;
  line-height: 97px;
}
header ul#items_main_menu > li > a {
  vertical-align: middle;
  transform: translateY(-50%);
  padding-right: 50px;
}

div#jumbotron {
  height: 660px;
  color: white;
  background-image: url("../img/home_slider_bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
div#jumbotron div#wrapper_text_jumbotron {
  height: 660px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#jumbotron h1 {
  font-size: 150px;
  line-height: 1.2;
}
