<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tech Forum-Avada_Forum_Theme</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- cdn fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- font google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- cdn vue help -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="margin_auto container_1340">
          <div id="header_left" class="float_left">
            <div id="header_logo"><a href=""><img id="logo" src="img/logo-2x.png" alt=""></a></div>
          </div>
          <div id="header_right" class="float_right">
            <nav id="main_menu">
              <ul id="items_main_menu">
                <li   @mouseover="showItem(index)" @mouseleave="varShow = false" v-for="(item,index) in itemsMainMenu"><a href="#">{{item}}</a>
                  <span v-if="index==0" class="fusion-arrow-svg active"><svg height="12px" width="27px">
                  <path d="M0 0 L13.5 12 L27 0 Z" fill="#25a9bd"></path>
                  </svg></span>
                  <span v-else class="fusion-arrow-svg"><svg height="12px" width="27px">
                  <path d="M0 0 L13.5 12 L27 0 Z" fill="#25a9bd"></path>
                  </svg></span>
                  <ul v-show="varShow" class="dropdown_items" v-if="item=='Forums'">
                    <li v-for="section in sectionsForum">{{section.title}}</li>
                  </ul>
                </li>

                <li><a class="btn_nav_black" href="#">Join us</a>
                  <span class="fusion-arrow-svg"><svg height="12px" width="27px">
                  <path d="M0 0 L13.5 12 L27 0 Z" fill="#25a9bd"></path>
                  </svg></span></li>
                <li><a href="#"><i class="fas fa-search"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- jumbotron -->
      <div id="jumbotron">
        <div  class="margin_auto container_1340">
           <div id="wrapper_text_jumbotron">
              <h1>Tech Forum!</h1>
              <p>Discuss all the latest technology news and trends</p>
              <button class="btn_rectangle" type="button" name="button">Get avada now! <i class="fas fa-angle-right"></i></button>
          </div>
        </div>
      </div>
      <!-- jumbotron-CLOSE -->
      <main>
        <section id="description_site">
          <h3 class="sub">AVADA FORUM IS THE PLACE TO BE</h3>
          <p>
            In quis lectus sed leo elementum faucibus in dapibus dictum. Nulla molestie tortor nec lectus venenatis, sed blandit dui finibus. dolor at, bibendum purus. Donec vehicula nec tortor ac finibus.
          </p>
        </section>
        <!-- section news -->
        <section id="news">
          <h3 class="sub" >PHASELLUS EGET METUS</h3>
          <h2 class="title_big_section">All the latest news</h2>
          <span class="orange_line"></span>
          <!-- article grid 3 items-->
          <div id="grid_news_preview"  class="container_1340 margin_auto  margin_bottom_40 orizontal_flex">
            <!-- article box1 -->
            <article v-for="article in articlesNews" class="box_preview_article">
              <a  href="#">
                <img class="img_news scale" :src=article.img alt="art 1">
              </a>
              <div>
                <a href="#" class="title_preview_link"><h3 class="title_preview_post">{{article.title}}</h3> </a>
                <span class="meta">{{article.date}}<a class="count_comment">{{article.comments}}</a></span>
                <p>{{article.text}}</p>
              </div>
            </article>
          </div>
          <!-- article grid -->
        </section>
        <!-- section news-CLOSE -->
        <!-- section featured -->
        <section id="featured" class="container_1340 margin_auto">
          <div id="hero_featured">
            <h3 class="sub">FEATURED ARTICLE</h3>
            <h2 class="title_hero_article">Cras malesuada et orci eget pharetra</h2>
            <p>In quis lectus sed leo elementum faucibus in dapibus dictum. Nullamolestie tortor nec lectus venenatis, sed blandit dui, dolor at bibendum sadips ets ipsums dolores ficilis uns leo lectus.</p>
            <button class="btn_rectangle" type="button" name="button">read more  <i class="fas fa-angle-right"></i></button>
          </div>
          <!-- article grid 3 items-->
          <div id="grid_featured_preview" class="container_1340 margin_auto  margin_bottom_40 orizontal_flex">
            <article v-for="article in articlesFeatured" class="box_preview_article">
              <a href="#">
                <img class="img_news scale" :src=article.img alt="art 1">
              </a>
              <div>
                <a href="#" class="title_preview_link"><h3 class="title_preview_post">{{article.title}}</h3> </a>
                <span class="meta">{{article.date}}<a class="count_comment">{{article.comments}}</a></span>
                <p>{{article.text}}</p>
              </div>
            </article>
          </div>
          <!-- article grid -->
        </section>
          <!-- section featured-CLOSE -->

        <section id="reviewed" class="container_1340 margin_auto">
          <!-- left -->
          <section id="reviewed_product"  class="float_left cl_65">
            <h3 class="sub">FEATURED ARTICLE</h3>
            <h2 class="title_hero_article">Mauris viverra atisan ipsum eget felis prims efficitur varius</h2>
            <p>In quis lectus sed leo elementum faucibus in dapibus dictum. Nullamolestie tortor nec lectus venenatis, sed blandit dui, dolor at bibendum sadips ets ipsums dolores ficilis uns leo lectus.</p>
            <button class="btn_rectangle" type="button" name="button">read more  <i class="fas fa-angle-right"></i></button>
          </section>
          <!-- right -->
          <aside id="tutorial" class="float_right cl_35">
            <h3>Tutorial & Guides</h3>
            <div class="orange_line"></div>
            <article class="description_tutorial" v-for="item in tutorialData">
              <a  href=""><img class="scale" :src=item.img alt=""></a>
              <div>
                <a href="#" class="title_preview_link"><h3 class="title_preview_post">{{item.title}}</h3> </a>
                <span class="meta">{{item.date}}<a class="count_comment">{{item.comments}}</a></span>
              </div>
            </article>
          </aside>
        </section>
        <div class="redour_wrapper_XXS_btn">
          <a class="btn_XXS" type="button" name="button">READ OUR BLOG <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <section id="forum_section">
          <h3 class="sub">PHASELLUS EGET METUS</h3>
          <h2 class="title_big_section">Forum Sections</h2>
          <span class="orange_line"></span>
          <div id="container_sections_forum" class="container_1340 margin_auto">
            <div class="row">
              <div v-for="(element,index) in sectionsForum" v-if="index< 4" class="box_section_forum">
                <a href="#">
                <i  aria-hidden="true" :class="sectionsForum[index].icon"></i>
                <h3>{{element.title}}</h3>
              </a>
              </div>
            </div>
            <div class="row">
              <div v-for="(element,index) in sectionsForum" v-if="index>=4" class="box_section_forum">
                <a href="#">
                  <i  aria-hidden="true" :class="element.icon" ></i>
                  <h3>{{element.title}}</h3>
                </a>
              </div>
            </div>
          </div>
        </section>
        <div class="redour_wrapper_XXS_btn">
          <a class="btn_XXS" type="button" name="button">GO TO FORUM<i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <section id="go_to_forum">
          <div class="wrapper">
            <h2>Hey! Join to our Community</h2>
            <p>Nulla molestie tortor nec lectus venenatis, sed blandit dui finibus. Curabitur feugiat vulputate purus ipsums dolores ficilis uns etra.</p>
            <button class="btn_rectangle" type="button" name="button">Sign Up <i class="fas fa-angle-right"></i></button>
          </div>
        </section>
        <div id="news_letter">
          <p>Subscribe to our Newsletter</p>
          <form id="news_letter_post" action="index.html" method="post">
            <input type="text" name="" value="" placeholder="insert your email*">
            <button class="btn_rectangle" type="button" name="button">SEND</button>
          </form>
        </div>
        <footer>
          <div id="footer_top" class="container_1340 margin_auto">
            <div id="description_footer">
              <h2 class="title_items">{{descriptionFotter.title}}</h2>
              <p>{{descriptionFotter.text}}</p>
            </div>
            <ul v-for="element in itemsLinkFooter" :id="element.id">
              <li class="title_items">{{element.title}}</li>
              <li v-for="item in element.linkText "><a href="#">{{item}}</a> </li>
            </ul>
          </div>
          <div id="footer_bottom">
            <div class="container_1340 margin_auto">
              <div id="footer_bottom_left">
                <p>
                  © Copyright 2012 - 2021 | Avada Theme by Theme Fusion | All Rights Reserved | Powered by WordPress
                </p>
              </div>
              <div id="footer_bottom_right">
                <ul id="social">
                  <li v-for="social in social_icons"><a><i :style="social.fill" :class="social.icon"></a></i> </li>
                </ul>
              </div>

            </div>

          </div>
        </footer>
      </main>
    </div>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
