/* RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: 0;
}
select:focus,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
}

/*RESET CLOSE*/
// DEBUG:
.debug {
  border: 1px solid red;
}

body {
  color:$doveGrey;
  font-size: 15px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
}
.margin_auto {
  margin:auto;
}

.container_#{$maxWidthPage} {
  //dovrebbe essere 1260px
  width: #{$maxWidthPage}+"px";
  height: 100%;
}

.float_left {
  float: left;
}
.float_right{
  float: right;
}

.btn_rectangle {
  height: 55px;
  padding: 14px 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.btn_nav_black {
  background-color: black;
  padding: 11px 23px;
  text-transform: uppercase;
}
  h3.sub {
    @include subTitleH3;
  }
  .orizontal_flex {
    display: flex;
    justify-content: space-between;
  }
  .margin_bottom_40 {
    margin-bottom: 40px;
  }

  h2.title_hero_article {
    font-size: 40px;
    line-height: 58px;
  }

  .cl_#{$widthXsCl} {
      width: #{$widthXsCl} + "%";
  }

  .cl_#{$widthSmCl} {
    width: #{$widthSmCl} + "%";
  }

  a.btn_XXS {
    display: block;
    cursor: pointer;
    padding: 70px;
    background-color: $codeGrey;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    i {
      margin-left: 5px;
    }
  }
  .title_items {
    font-size: 18px;
    line-height: 28.7px;
    font-weight: 700;
    padding: 10px 10px 10px 0px;
    text-transform: uppercase;
    color: $codeGrey;
  }
