$heightHeader: 97px;
header {
  width: 100%;
  height: $heightHeader;
  padding: 0 30px;
  background-color: $easternBlue;

  @include clearfix;
    #header_left, #header_right {
      display: inline-block;
    }
    #header_logo{
      a{
      line-height: $heightHeader;
      display: block;
      }
      img#logo {
        vertical-align: middle;
      }
    }
    ul#items_main_menu {

      &> li {
        @include listInline;
        line-height: $heightHeader;
      &> a {
        @include verticalAlignCenter;
        padding-right: 50px;
        text-decoration: none;
        color: white;
        &.btn_nav_black {
          padding: 11px 23px;
          margin-right: 50px;
        }

      }
    }
  }
}
