$heightHeader: 97px;
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: $heightHeader;
  padding: 0 30px;
  background-color: rgb(38,169,189, 0.98);


  @include clearfix;
    #header_left, #header_right {
      display: inline-block;
    }
    #header_logo{
      a{
      line-height: $heightHeader;
      display: block;
      }
      img#logo {
        vertical-align: middle;
        height: 61px;
        width: 251px;
      }
    }
    ul#items_main_menu {


      > li{
        position: relative;
        @include listInline;
        line-height: $heightHeader;
        >ul.dropdown_items {
          padding-top: 10px;
          >li {
          background-color:  $easternBlue;
          color: white;
          &:hover {
            background-color: #1c93a5;
          }
        }
        }
        &:hover .fusion-arrow-svg{
          display: block;
        }
      > a {
        @include verticalAlignCenter;
        padding-right: 50px;
        text-decoration: none;
        color: white;
        &.btn_nav_black {
          font-weight: 900;
          letter-spacing: 1px;
          padding: 11px 23px;
          margin-right: 50px;
          &:hover {
            background-color: $lightCoral;
          }

        }

      }
    }
  }
}
