a.title_preview_link {
    display: block;
    text-decoration: none;
    color: #191919;
    margin-top:15px;
    margin-bottom: 6px;
  }

  .meta {
    display: block;
    font-size: 13px;
    margin-bottom: 13px;
    line-height: 19.5px;
    a.count_comment {
      margin-left: 8px;
      padding: 0 8px;
      border-left: 1px solid $doveGrey;
    }
  }


//previev ARTICLE
.box_preview_article {
  margin-top: 70px;
  >a{

    width:calc(#{$imgW_animationZoom} - 10px);
    height: calc(#{$imgH_animationZoom} - 10px);
    display: block;
    overflow: hidden;
    img.img_news {
      width:$imgW_animationZoom;
      height: $imgH_animationZoom;
    }
  }
  text-align: left !important;

    p {
      line-height: 30px;
      display: block;
    }

  }



// section description
section#description_site {
  background-color: #f2f2f2;
  text-align: center;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 29%;
  h3.sub {
    color: $emperorGrey;
  }
  p {
    font-size: 30px;
    font-weight: 300;
    line-height: 48px;
    color: $doveGrey;
    font-stretch: 100%;
  }
}
// section description-CLOSE
// section new
section#news {
  @include paddingSection;

  h3.sub {
    color: $emperorGrey;
    margin-bottom: 20px;
  }

}
// section news-CLOSE
// section featured
section#featured {
  #hero_featured {
    max-width: 1289.6px;
    height: 612px;
    padding:20% 8%;
    padding-bottom: 8%;
    @include heroSection;
    background-image: url($featureArticoleHero);
    p {
      line-height: 28.95px;
      margin-bottom:35px;
    }
    .btn_rectangle {
      background-color: $codeGrey;
      color: white;

    }
  }

}
// section featured-CLOSE
// section reviewed
section#reviewed {
  @include clearfix;
  #reviewed_product {
    @include heroSection;
    padding: 8%;
    background-image: url($reviewArticoleHero);
    margin-right: 50px;
    margin-bottom: 12%;
    p {
      line-height: 28.95px;
      margin-bottom:35px;
    }
    .btn_rectangle {
      background-color: $codeGrey;
      color: white;
    }
  }
  aside#tutorial {
    >h3 {
      font-size: 30px;
      line-height: 39.9px;
      color: $codeGrey;
    }
    &.cl_#{$widthSmCl} {
      width: calc( #{$widthSmCl}% - 50px);
      img {
        height: 117px;
        margin-right: 20px;
      }
    }
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .description_tutorial {
    display: flex;
    margin-top: 20px;
    align-content:  space-between;
  }
}
// section reviewed-CLOSE
section#forum_section {
  @include paddingSection;
  padding-bottom:120px;
  background-color:#f2f2f2;
  .row {
    display: flex;
    justify-content: space-between;
    margin: 65px 0;
  }


  #container_sections_forum {
    margin-top: 100px;
    .box_section_forum {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 280px;
      height:250px;
      background-color: white;
      border-top: 4px solid #32b3c6;
      &:hover h3 {
        color: $lightCoral;
      }
      a {
        text-decoration: none;

      }
      h3 {
        font-size: 23px;
        line-height: 28.6px;
        color:black;
      }
      i {
        border-color:rgba(255,255,255,0);
        background-color:$lightCoral;
        @include iconRounded ;
        height:84px;
        width:84px;
        line-height:84px;
        font-size:42px;
      }
    }
  }
}

section#go_to_forum {
  background-image: url($BgSectionGoToForum);
  background-size:cover;
  color: white;
  display: flex;
  justify-content: center;
  @include paddingSection;
  padding-bottom: 120px;
  .wrapper {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2 {
      font-size: 60px;
      line-height: 72px;
      padding: 20px 0px;
    }
    h2, p {
        padding: 20px 0px;
    }
    .btn_rectangle {
      @include btnBlue;
      color: white;
      align-self:center;
    }

  }

}

div#news_letter {
  p {
    font-size: 30px;
    color: $codeGrey;
    margin-bottom: 55px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 120px;

}

#news_letter_post{
  .btn_rectangle {
    background-color: $codeGrey;
    color: white;
  }
  > input[type=text] {
  height: 54px;
  width: 500px;
  margin-right: 20px;
  &::-webkit-input-placeholder {
    padding-left: 12px
  }
}
}
