//previev ARTICLE
.box_preview_article {
  margin-top: 70px;
  img.img_news {
    width:396px;
  }
  text-align: left !important;
  a.title_preview_link {
      display: block;
      text-decoration: none;
      color: #191919;
      margin-top:15px;
      margin-bottom: 6px;
    }
    .meta {
      display: block;
      font-size: 13px;
      margin-bottom: 13px;
      line-height: 19.5px;
      a.count_comment {
        margin-left: 8px;
        padding: 0 8px;
        border-left: 1px solid $doveGrey;
      }
    }
    p {
      line-height: 30px;
      display: block;
    }

  }



// section description
section#description_site {
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 29%;
  h3.sub {
    color: $emperorGrey;
  }
  p {
    font-size: 30px;
    font-weight: 300;
    line-height: 48px;
    color: $doveGrey;
    font-stretch: 100%;
  }
}
// section description-CLOSE
// section new
section#news {
  text-align: center;
  padding-top: 120px;
  padding-right: 30px;
  padding-left: 30px;
  h3.sub {
    color: $emperorGrey;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
    color: black;
  }
}
// section news-CLOSE
// section featured
section#featured {
  #hero_featured {
    max-width: 1289.6px;
    height: 612px;
    @include heroSection;
    background-image: url($featureArticoleHero);
  }

}
// section featured-CLOSE
// section reviewed
section#reviewed {
  @include clearfix;
  #reviewed_product {
    @include heroSection;
    background-image: url($reviewArticoleHero);
    margin-right: 50px;
  }
  aside#tutorial {
    &.cl_30 {
      width: calc(30% - 50px);
    }
    display: flex;
    flex-direction: column;
    align-content: space-between;

  }
}
// section reviewed-CLOSE
