
$easternBlue: #26a9bd;
$maxWidthPage: 1240;
$BgImgJumbotron: "../img/home_slider_bg.jpg";


@mixin listInline {
  display: inline-block;
  list-style: none;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin verticalAlignCenter {
  vertical-align: middle;
  transform: translateY(-50%);
}
