
$easternBlue: #26a9bd;
$doveGrey:#707070;
$emperorGrey:#525252;
$maxWidthPage: 1240;
$BgImgJumbotron: "../img/home_slider_bg.jpg";


@mixin listInline {
  display: inline-block;
  list-style: none;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin verticalAlignCenter {
  vertical-align: middle;
  transform: translateY(-50%);
}

@mixin subTitleH3 {
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 6px;
  font-stretch: 100%;
}
