
$easternBlue: #26a9bd;
$doveGrey:#707070;
$emperorGrey:#525252;
$codeGrey:#191919;
$maxWidthPage: 1340;
$widthXsCl: 65;
$widthSmCl: 35;
$BgImgJumbotron: "../img/home_slider_bg.jpg";
$featureArticoleHero:"../img/featured_article_1_bg.jpg";
$reviewArticoleHero:"../img/featured_article_2_bg.jpg";


@mixin listInline {
  display: inline-block;
  list-style: none;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin verticalAlignCenter {
  vertical-align: middle;
  transform: translateY(-50%);
}

@mixin subTitleH3 {
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 6px;
  font-stretch: 100%;
}

@mixin heroSection {

  background-size: cover;
  color: white;
}
